[phases.setup]
aptPkgs = ["yt-dlp", "ffmpeg"]

[phases.build]
commands = [
  "npm install",
  "npm run db:generate",
  "npm run build"
]

[phases.start]
command = "npm run start"

[metadata]
publish = ".next/standalone" 