[phases.setup]
# Install system packages
aptPkgs = ["yt-dlp", "ffmpeg"]

[phases.build]
# Install dependencies, generate Prisma client, build Next.js
commands = [
  "npm install",
  "npm run db:generate",
  "npm run build"
]

[phases.start]
# Push database changes (optional) and start the server
command = "npm run start"

[metadata]
publish = ".next/standalone"