[phases.setup]
aptPkgs = ["yt-dlp", "ffmpeg"]

[phases.build]
commands = [
  "npm install --include=dev",
  "npm run db:generate",
  "npm run migrate",
  "npm run seed",
  "npm run build"
]

[phases.start]
command = "npm run start"

[metadata]
publish = ".next/standalone"